body {
  margin: 0;
  padding: 0;
  background: #000000;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#controllers {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.button {
  border: none;
  background: #fff;
  color: #000;
  padding: 8px 20px;
  cursor: pointer;
  outline: none;
  margin: 5px;
  font-family: sans-serif;
  border-radius: 15px;
}